<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crab Facts</title>

	<!-- Font-Awesome Icons -->
	<script src="https://kit.fontawesome.com/ab085a1591.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<body>
  <div class="container">
    <section class="heading">
      <h1>Crab Facts</h1>
    </section>
    <section class="crabFacts">

      <ul class="crabFactList">
      <% for(let i=0; i < info.length; i++) {%>
          <li class="crabFact">
            <div class="sideCrab">
              <img src="../img/crab-svgrepo-com.svg" height="20" width="20">
            </div>
            <div class="factContent">
              <span class="fact"><%= info[i].fact %></span>
              <span class="likes"><%= info[i].likes %></span>
              <span class="fa-solid fa-heart-circle-plus"></span>
              <span class='fa fa-trash'></span>
            </div>
            <div class="sideCrab">
              <img src="../img/crab-svgrepo-com.svg" height="20" width="20">
            </div>
          </li>
      <% } %>
      </ul>
    </section>

    <section class="addFacts">
      <h2>Add your crab facts!</h2>

      <form action="/addFact" method="POST">
          <input type="text" placeholder="Crab Fact" name="fact">
          <input type="submit">
      </form>
    </section>
  </div>
  

  <script src='js/main.js'></script>
</body>
</html>
