/* Box Model Bugfixer */
/* * {
     outline: 1px solid red;
} */

/* Box Model */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}


/******************************************
/* COLORS
/*******************************************/

/******************************************
/* TYPOGRAPHY
/*******************************************/
@font-face {
  font-family: 'Surfbreaks';
  src: url('../img/Surfbreaks-8ErZ.ttf') format('truetype')
}


/******************************************
/* BASE STYLES
/*******************************************/
/* Set 1 rem to 10px */
html {
  font-size: 62.5%;
  font-family: sans-serif;
  text-align: center;
  padding: 2rem;
  /* background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../img/crabBG.jpg'); */
  background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url('../img/crabBG.jpg');
  /* background: url('../img/crabBG.jpg'); */
}

/******************************************
/* LAYOUT
/*******************************************/


.container {
  background: rgba(206, 152, 2, 0.5);
  border-radius: 10px;
  padding: 2rem;
  /* min-height: 80vh; */
  display: flex;
  /* flex-flow: row wrap; */
  flex-flow: column nowrap;
  justify-content: space-between;
  
}

.container > section {
  width: 100%;
}

h1 {
  font-family: 'Surfbreaks';
  color: red;
  font-size: 9rem;
  margin-bottom: 2rem;
  /* text-shadow: 0 0 10px rgba(0,0,0,1); */
  text-shadow: 0 0 10px rgba(255,255,255,1)
}

ul {
  font-size: 2rem;
  /* border: 2px dashed red; */
  margin-bottom: 2rem;
  display: inline-block;
  overflow-y: scroll;
  max-height: 650px;
}

li {
  list-style-type: none;
  margin: .5rem;
  padding: 10px 15px 10px 15px;
  position: relative;
  line-height: 2.4rem;
  background: rgba(255,255,255,.5);
  border-radius: 10px;
  max-width: 1400px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  box-shadow: 0 -4px 10px rgb(88, 88, 88) inset;
}

.sideCrab {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.sideCrab img {
  filter: invert(19%) sepia(73%) saturate(7290%) hue-rotate(357deg) brightness(108%) contrast(118%);
}

/* .factContent {
  overflow-y:scroll;
  max-height: 800px;
} */

span {
  display: inline-block;
}

.fact {
  position: relative;
  display: block;
}



/* .fact::before {
  content: '';
  position: absolute;
  background-image: url('../img/crab-svgrepo-com.svg');
  width: 20px;
  height: 20px;
  left: -20px;
  filter: invert(19%) sepia(73%) saturate(7290%) hue-rotate(357deg) brightness(108%) contrast(118%);
}

.fact::after {
  content: '';
  position: absolute;
  background-image: url('../img/crab-svgrepo-com.svg');
  width: 20px;
  height: 20px;
  right: -20px;
  filter: invert(19%) sepia(73%) saturate(7290%) hue-rotate(357deg) brightness(108%) contrast(118%);
} */

/* ! ---- ICONS ---- */

.likes {
  position: relative;
  z-index: 1;
  margin: 1rem;
  font-size: 3rem;
  font-family: 'Surfbreaks';
}

.likes::before {
  content: '';
  position: absolute;
  right: -2px;
  top: -8px;
  z-index: -1;

  height: 35px;
  width: 25px;

  transform: rotate(-45deg);
  background: rgb(255, 102, 127);
  border-radius: 50% 50% 0 0;
}

.likes::after {
  content: '';
  position: absolute;
  right: -10px;
  top: -8px;
  z-index: -1;

  height: 35px;
  width: 25px;

  transform: rotate(45deg);
  background: rgb(255, 102, 127);
  border-radius: 50% 50% 0 0;
}

.fa-heart-circle-plus {
  color: rgb(145, 0, 0);
  /* text-shadow: 0 0 5px black; */
  transition: color .3s, text-shadow .3s;
}

.fa-heart-circle-plus:hover {
  cursor: pointer;
  text-shadow: 0 0 5px white;
  color: rgb(255, 102, 127);
  transition: color .3s, text-shadow .3s;
}

.fa-trash {
  color: rgb(145, 0, 0);
  /* text-shadow: 0 0 5px black; */
  transition: color .3s, text-shadow .3s;
}

.fa-trash:hover {
  cursor: pointer;
  text-shadow: 0 0 5px white;
  color: red;
  transition: color .3s, text-shadow .3s;
}

/* ! ---- ADD FACTS ---- */

.addFacts {
  align-self: flex-end;
  max-width: 500px;
  margin: auto;
}

h2 {
  font-family: 'Surfbreaks';
  font-size: 4rem;
  color: red;
  text-shadow: 0 0 5px white;
  margin-bottom: 1rem;
}

form {
  display: flex;
  font-size: 2rem;
}

textarea {
  flex: 3;
}

input[type='submit'] {
  flex: 1;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media all and (max-width: 550px) {
  .container {
    padding: .5rem;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
}